.nextflow
doc
results
tmp
work
data/external_databases/kraken
data/external_databases/nextclade
data/external_databases/pangolin
.gitignore
.nextflow.log
.python-version
*.png
*.html
*.sh
*.sh.template
*.md
