run_nf_pipeline.sh
results/

# nextflow
.nextflow/
.nextflow.log*
work/
*.html

# pyenv environment
.python-version

# PyCharm
.idea/

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Writerside
doc/*
!doc/images/
!doc/topics/
!doc/pdfSourceDOC.pdf

# Pangolin and nextclade
data/pangolin
data/nextclade
data/kraken

# Modeller
# file with key
third-party/modeller/config.py




