run_nf_pipeline.sh
results/
bin/update/enterobase_api.txt

# nextflow
.nextflow/
.nextflow.log*
work/
*.html
trace-*.txt

# pyenv environment
.python-version

# PyCharm
.idea/*
!.idea/runConfigurations

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Writerside
!doc/images/
!doc/topics/
!doc/pdfSourceDOC.pdf

# external databases
external_databases/pangolin
external_databases/nextclade
external_databases/kraken
external_databases/freyja

# Modeller
# file with key
third-party/modeller/config.py

python_tests/__pycache__



