dag.overwrite = true
report.overwrite = true
timeline.overwrite = true
docker.enabled = true
docker.fixOwnership = true
plugins {
  id 'nf-schema@2.1.0'
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
       process.executor = 'slurm'
       process.clusterOptions = "--nodelist=XXX"
    }

}

executor {
    $local {
    cpus = XXX
    memory = 'XXX GB'
    }
}

docker.enabled = true
params.enterobase_api_token = "XXX"
