#!/bin/bash

# This script runs the nextflow pipeline with the given parameters
nextflow run nf_pipeline.nf \
    --ref_genome 'path/to/reference/genome.fasta' \
    --reads 'path/to/reads/sample_id_{1,2}.fastq.gz' \
    --threads 3 \
    --primers 'path/to/primers.bed' \
    --pairs 'path/to/pairs.tsv' \
    --adapters 'path/to/adapters.fa' \
    --nextclade_db_dir 'path/to/nextclade/db' \
    --pangolin_db_absolute_path_on_host '/home/user/path/to/project/root/data/pangolin' \
    -config nextflow.config \
    -with-report report.html \
    -with-dag flowchart.png \
    -with-docker nf_illumina_sars-3.0:latest \
    -resume

