#!/usr/bin/bash

# THIS IS EXAMPLE FILE

# This is an example file with a pipeline execution script.
# It should be used as a template. Copy it, give it any name,
# and then adjust its contents to suit your needs.
#
# In particular, fill in the required fields and provide the
# paths to the data and result files. You can also fine-tune
# the execution parameters (as long as you understand their
# impact on the results).

set -x

# ADJUST THIS TWO PARAMETERS

# Arbitrary string identifying your set of samples
RUN_NAME="my-run"

# Path to results relative to your current working dir.
WORK_DIR="work_dirs/${RUN_NAME}"


BASE_DIR=$(pwd)
mkdir -p ${WORK_DIR}

cd ${WORK_DIR} || exit 1

echo ${BASE_DIR}
echo ${WORK_DIR}


nextflow run "${BASE_DIR}/pzh_pipeline_viral/nf_pipeline_viral.nf" \
    --reads "/path/to/reads/<SAMPLE_ID>.*_{1,2}.fastq.gz" \
    --projectDir "${BASE_DIR}/pzh_pipeline_viral" \
    --primers_id "EQA2023.SARS2" \
    --external_databases_path "${BASE_DIR}/external_databases" \
    --machine "Illumina" \
    --species "SARS-CoV-2" \
    --main_image "pzh_pipeline_viral-4.1-main" \
    --manta_image "pzh_pipeline_viral-4.1-manta" \
    -with-trace "reports/trace.txt" \
    -with-dag "reports/nf_viral.png" \
    -with-report "reports/report.html" \
    -with-docker pzh_pipeline_viral-4.1-main \
    -resume